body { background-color:#F0F0F0; color:#000000; }
a:link    { color:#0000FF; }
a:visited { color:#0000A0; }
a:active  { color:#FF0000; }
a:hover   { background:#FFFF80; color:#000000; text-decoration:none; }

div,td { font-family:Verdana,Arial,Helvetica; font-size:10pt; }

.ContentDiv  { max-width:600px; }
.ContentDiv table { background-color:#FFFFFF; }
.ContentDiv table td { padding:6px; border-spacing:1px; }
.ContentDiv table td a { text-decoration:none; }

.PageTitle   { font-family:Arial,Helvetica; font-size:12pt; font-weight:bold; }
.Description { }
.Navigation  { }

.SizeCol { }
.FileCol { }
.TnCol   { }
